<!--
  Generated template for the AboutPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>About Page</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding style="background: none transparent;">
  <p>Welcome to the new page!!!</p>
  <!-- <p *ngFor="let people of people">{{people.name}}</p> -->
  <button (click)="home()" ion-button round>Back Button</button>
</ion-content>
