<!--
  Generated template for the ScanQrPage page.
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <!-- <ion-navbar>
    <ion-title>REGISTRATION</ion-title> -->
    <!-- <ion-buttons end > <button ion-button (click)="closeModal()">
      <ion-icon name="close"></ion-icon>
    </button>  </ion-buttons> -->
  <!-- </ion-navbar> -->

  <div *ngIf="isSanning" class="qr-header">
    <img src="https://s3-ap-southeast-1.amazonaws.com/converce-cms/assets/images/refinitiv_logo.png" alt="tr logo" style='height: 40%; margin-left: 30px;'>
    <h2 style='margin: 0; text-align: left;font-size: 18px; color: black'>Welcome to the 2019 Refinitiv Australian Regulatory Summit</h2>
  </div>

  <div *ngIf="isSanning" class="main-header">
    <button padding="true" type="button" name="button" (click)='goToSearch()' class='search-button btn'>Search by Email</button>
  </div>

</ion-header>
<ion-content padding style="background: none transparent;">

  <!-- <img class="center" src='../../assets/imgs/camera.png'> -->
  <ion-fab *ngIf="isSanning" bottom right margin>
    <button ion-fab>
      <ion-icon name="md-options"></ion-icon>
    </button>
    <ion-fab-list side="top">
      <button (click)="toggleFlashLight()" ion-fab>
        <ion-icon name="flash">

        </ion-icon>
      </button>
      <button ion-fab (click)="toggleCamera()">
        <ion-icon name="reverse-camera"></ion-icon>
      </button>

    </ion-fab-list>
  </ion-fab>

  <!-- <ion-fab *ngIf="isSanning" bottom left margin>
    <button ion-fab (click)="btnStar()">Click</button>
  </ion-fab> -->
  <!-- <button ion-button round bottom icon-end>Round Button</button> -->

  <!-- <ion-card >
    <ion-card-content>
      Result from Scan: {{ scannedCode }}
    </ion-card-content>
  </ion-card>   -->

</ion-content>

<!-- <ion-content *ngIf="scannedCode" padding style="background: none transparent;">

  <ion-grid style="height: 100%">
    <ion-row justify-content-center align-items-center style="height: 100%">
      <ion-card center>
        <ion-card-header>
          Scan result
        </ion-card-header>
        <ion-card-content>
          {{ user.name }}
          {{ user.email }}
        </ion-card-content>
      </ion-card>
    </ion-row>
  </ion-grid>

</ion-content> -->
