
.header{
  background: white;
  color: black;
}
.btn{
  width: 100vw;
  max-width: 300px;
  border-radius: 8px;
  border: none;
  font-size: 1.2rem;
  display: block;
}
.confirm{
  background-color:red;
  border-color:red;
  color: #fff;
  padding: 24px;
}

.back{
  background: #757575;
  color: #fff;
  padding: 24px;
  margin-top: 20px
}

.body {
  text-align: center;
}

.buttons{
  display:flex;
  flex-direction: column;
}
