<!--
  Generated template for the UserPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <!-- <ion-navbar>
    <ion-title class='header' style="color: white">CONFIRMATION</ion-title>
  </ion-navbar> -->
  <div class="qr-header">
    <img src="https://s3-ap-southeast-1.amazonaws.com/converce-cms/assets/images/refinitiv_logo.png" alt="tr logo" style='height: 40%; margin-left: 30px;'>
    <h2 style='margin: 0; text-align: left;font-size: 18px;'>Welcome to the 2019 Refinitiv Australian Regulatory Summit</h2>
  </div>

</ion-header>


<ion-content padding style="background: white;">

  <ion-grid style="height: 100%">
    <ion-row justify-content-center align-items-center style="display:flex; flex-direction: column; height: 100%">
      <div class='body'>
        <div class='title'>
          Welcome
        </div>
        <div class='text'>
          <p>{{ name }}</p>
          <p>{{ userData.email}}</p>
          <p>{{ userData.company }}</p>
        </div>
      </div>
      <br>
      <div class='buttons'>
        <button class="btn confirm" ion-button round (click)="confirm()">Confirm</button>
        <button class="btn back" ion-button round (click)="goBack()">Back</button>
      </div>

    </ion-row>
  </ion-grid>


</ion-content>
