<!--
  Generated template for the SearchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <!-- <ion-navbar>
    <ion-title>REGISTRATION</ion-title>
  </ion-navbar> -->
  <!-- <ion-navbar>
    <ion-title>search</ion-title>
  </ion-navbar> -->
  <!-- <div *ngIf='!edit'class="header">
      <img src="https://s3-ap-southeast-1.amazonaws.com/trregsummits.com/img/logo_tr.png" alt="tr logo" style='height: 40%; margin-left: 30px;'>
      <h2 style='margin: 0; text-align: left;font-size: 18px;'>Welcome to The ASEAN Regulatory Summit 2018</h2>
  </div> -->
  <div class="qr-header" style="background: white;">
    <img src="https://s3-ap-southeast-1.amazonaws.com/converce-cms/assets/images/refinitiv_logo.png" alt="tr logo" style='height: 40%; margin-left: 30px;'>
    <h2 style='margin: 0; text-align: left;font-size: 18px;'>Welcome to the 2019 Refinitiv Australian Regulatory Summit</h2>
  </div>

</ion-header>


<ion-content style="background: white transparent;">
  <div class="main-search">
    <div class="main-header">
      <input type="text" (keyup)="searchByEmail($event)" placeholder="Enter email, name or company" class="input">
      <button *ngIf='edit' type="button" class="btn btn-primary" name="button" (click) = 'openModal(template, "New User")'>+ Add new user</button>
    </div>

    <div style='width: 100%;'>
        <table style='display: table;'>
          <thead style='width: 100%;'>
            <tr>
              <th>
                Name
              </th>
              <th>
                Company
              </th>
              <th>
                Action
              </th>
            </tr>
          </thead>

          <tbody style='width: 100%;'>
              <tr *ngFor="let user of newlySearchedUsers" style='width: 100%;'>
              <td>{{user?.name}} {{user?.lastname}}</td>
              <td>
              {{user?.company}}
            </td>
            <td>
            <button *ngIf='!edit' type="button" name="button" class='btn' (click) = 'checkin(user)' style='width: 200px; background: #3f54cc;'>Confirm</button>
            <button *ngIf='edit' type="button" name="button" class='btn'(click) = 'openModal(template, "Edit", user)'>Edit</button>
          </td>
        </tr>
        </tbody>
        </table>
      </div>

    <!-- <div *ngIf='!edit' class="main-footer">
      <button style='background: white;' type="button" name="button" class='qr-button btn btn-primary' (click)='goToQrScan()'>Scan QR code instead</button>
    </div> -->
  </div>

  <!-- Modal -->
<ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Modal</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      First Name: <input type="text" class="form-control"
              name="resourceUrl" ngModel
              [(ngModel)]="modalContent.user.name">

      Last Name: <input type="text" class="form-control"
              name="resourceUrl" ngModel
              [(ngModel)]="modalContent.user.lastname">

      Email: <input type="text" class="form-control"
              name="resourceUrl" ngModel
              [(ngModel)]="modalContent.user.email">

      Company: <input type="text" class="form-control"
              name="resourceUrl" ngModel
              [(ngModel)]="modalContent.user.company">
      <button class='btn btn-primary' type="button" name="button" (click) = "editUser()">Edit</button>
      <button *ngIf='modalContent.printUser' class='btn btn-primary' type="button" name="button" (click) = "goToPrint()">Print</button>
    </div>
  </ng-template>


</ion-content>

<ion-footer>
  <div *ngIf='!edit' class="main-footer">
    <button style='background: white;' type="button" name="button" class='qr-button btn btn-primary' (click)='goToQrScan()'>Scan QR code instead</button>
  </div>
</ion-footer>
