.header{
    background: white;
    color: black;
  }
  .modal-backdrop.fade
  {
    opacity: 0.5;
  }
  .modal-open .modal
  {
    opacity: 1;
  }
  input{
    width: 300px;
    border-radius: 50px;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    text-align: center;
    background: #E5E5E5;
  }

  .main-header h1{
    color: white;
    font-weight: bold;
    width: 100%;
  }

table, tr, tbody {
    width: 100%;
  }

  table {
    display: inline-block;
    /* height: 70vh; */
    overflow-y: scroll;
  }

  th, td {
    width: 33%;
    text-align: center;
    padding: 20px;
  }

  tr {
    max-height: 20px;
  }

  tr:nth-child(even) {
      background: #E8E8E8;
  }
  tr:nth-child(odd) {
    background: rgb(172, 170, 170);
}
  th {
    background: #707070;
    color: white;
  }

  .main-footer{
    background: #757575;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  button {
    background: #999999;
    color: white;
  }
  .btn{
    padding: 15px;
  }

  .qr-button {
  background: #999999;
  color: black;
  border-radius: 50px;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
}

.td-container {
  height: 10px;
}

.qr-header {
  background: white;
/* padding: 10px; */
text-align: center;
color: black;
height: 10vh;
display: flex;
justify-content: space-between;
align-items: center;
padding-left: 20px;
padding-right: 20px;
font-weight: bold;
flex-direction: row-reverse;
}

.input{
  padding: 10px;
}
